<div class="scanner-shell" [hidden]="!hasDevices" style=" padding: 1%; margin-top: 1%; max-width: 100%;">
    <mat-card class="mat-elevation-z6">
        <header>
            <h2 style="text-align: center;">
                <b>Lectura de código de barras</b>
            </h2>
            <mat-checkbox *ngIf="ocultarForzar" (click)="toggleTryHarder()" [selected]="tryHarder">
                Forzar cámara
            </mat-checkbox>
            <mat-form-field *ngIf="ocultarSerlecion === false">
                <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
                <option value="" [selected]="!currentDevice">Sin selección</option>
                <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                  [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
              </select>
            </mat-form-field>
        </header>

        <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
        <section style="text-align: center;" class="results" *ngIf="qrResultString">
            <div>
                <h3 style="overflow-wrap: break-word;"><b>Código: </b> {{qrResultString}}
                </h3>
                <button style="margin:1% !important;" color="warn" mat-raised-button="" type="submit" class="mat-raised-button mat-warn" (click)="clearResult()">Borrar</button>
                <button color="warn" mat-raised-button="" type="submit" class="mat-raised-button mat-warn" [mat-dialog-close]="qrResultString">Aceptar</button>
            </div>
        </section>
    </mat-card>
</div>
<mat-card *ngIf="hasPermission === false || hasPermission === undefined || hasDevices === undefined || hasDevices === false" class="mat-elevation-z6" style="justify-content: center; text-align: center; padding: 15%; margin-top: 5%;">
    <ng-container *ngIf="hasPermission === undefined">

        <h2>Esperando permisos.</h2>

        <blockquote>
            Si tu dispositivo no tiene cámara, no tendras respuesta.
        </blockquote>

    </ng-container>

    <ng-container *ngIf="hasPermission === false">

        <h2>No has dado permiso de usar tu cámara, no podemos hacer nada sin esta</h2>

    </ng-container>

    <ng-container *ngIf="hasDevices === undefined">

        <h2>No podemos chequear tu dispositivo</h2>

        <blockquote>
            Error de seguridad
        </blockquote>

    </ng-container>

    <ng-container *ngIf="hasDevices === false">

        <h2>No funciona el dispositivo</h2>

        <blockquote>
            Verificar que su dispositivo tenga multimedia conectada.
        </blockquote>

    </ng-container>

</mat-card>