<div style="padding-top: 1%;">
    <block-ui>
        <div>
            <mat-toolbar style=" background-color: #c62828 !important; height: 10% !important; border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;">

                <p style=" color: #fdfdfd !important;  white-space: normal; padding-top: 1%;">
                    {{titulo}}
                </p>

            </mat-toolbar>
        </div>
        <mat-card class="mat-elevation-z6">
            <mat-card-content>
                <div>
                    <form [formGroup]="busqueda">
                        <div fxLayout="row">
                            <mat-form-field style="margin-right: 2%; padding: 2%;">
                                <mat-label>Número de guía</mat-label>
                                <input (input)="onSearchChangeNumeroRemesa($event.target.value)" id="numeroRemesa" matInput formControlName="numeroRemesa">
                            </mat-form-field>
                            <button (click)="consultar()" color="warn" mat-raised-button="" type="submit" class="mat-raised-button mat-warn"><span class="mat-button-wrapper">Consultar</span>
                    </button>
                        </div>
                    </form>
                </div>
                <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%; padding-left: 3%; padding-right: 3%;">
                    <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
                        <h2>Remitente</h2>
                        <hr>
                        <div>
                            <mat-label style="margin-right: 1%;"><b>Nombre:</b></mat-label>
                            <mat-label style="margin-right: 3%;">{{nombreRemite}}</mat-label>
                        </div>
                        <div>
                            <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Cédula:</b></mat-label>
                            <mat-label style="margin-right: 3%;" [style.width.px]="280">{{cedulaRemite}}</mat-label>
                        </div>
                        <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Ciudad:</b></mat-label>
                        <mat-label style="margin-right: 3%;" [style.width.px]="280">{{ciudadRemite}}</mat-label>
                        <div>
                            <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Dirección:</b></mat-label>
                            <mat-label style="margin-right: 3%;" [style.width.px]="280">{{direccionRemite}}</mat-label>
                        </div>

                    </div>
                    <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
                        <h2>Destinatario</h2>
                        <hr>
                        <div>
                            <mat-label style="margin-right: 1%;"><b>Nombre:</b></mat-label>
                            <mat-label style="margin-right: 3%;">{{nombreDestinatario}}</mat-label>
                        </div>
                        <div>
                            <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Cédula:</b></mat-label>
                            <mat-label style="margin-right: 3%;" [style.width.px]="280">{{cedulaDestinatario}}</mat-label>
                        </div>
                        <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Ciudad:</b></mat-label>
                        <mat-label style="margin-right: 3%;" [style.width.px]="280">{{ciudadDestinatario}}</mat-label>
                        <div>
                            <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Dirección:</b></mat-label>
                            <mat-label style="margin-right: 3%;" [style.width.px]="280">{{direccionDestinatario}}</mat-label>
                        </div>

                    </div>
                </div>
                <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%; padding: 2%;">
                    <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
                        <div style="padding-left: 2%;">
                            <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Unidad de Negocio:</b></mat-label>
                            <mat-label style="margin-right: 3%;" [style.width.px]="280">{{unnidadNegocio}}</mat-label>
                        </div>
                    </div>
                    <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
                        <div>
                            <mat-label style="margin-right: 1%;" [style.width.px]="280"><b>Estado:</b></mat-label>
                            <mat-label style="margin-right: 3%;" [style.width.px]="280">{{estadoRemesa}}</mat-label>
                        </div>
                    </div>
                </div>

                <div>
                    <mat-card class="mat-card-cvr" [class.mat-elevation-z8]="true">
                        <mat-toolbar style="  padding-top: 1%; background-color: #ffffff !important; height: 10% !important; ">

                            <p style=" color: #000000 !important;  white-space: normal; padding-right: 1%;">
                                <i class="large material-icons">archive</i> Unidades
                            </p>
                            <p style=" color: #000000 !important;  white-space: normal;">
                                {{numeroUnidades}}
                            </p>
                        </mat-toolbar>
                        <hr>
                        <div fxLayoutAlign="space-between center" style=" padding: 20px 50px !important;">
                            <ag-grid-angular id="myGrid" [gridOptions]="gridopciones" style="width: 100% !important;" rowSelection="multiple" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs" [enableRangeSelection]="true" [floatingFilter]="true" [defaultColDef]="defaultColDef"
                                [getRowNodeId]="getRowNodeId" [frameworkComponents]="frameworkComponents.btnCamara" [domLayout]="domLayout" [pagination]="true" [paginationPageSize]="paginadorTamanoRegistro" [enableCellTextSelection]="true" (gridReady)="onGridReady($event)">
                            </ag-grid-angular>
                        </div>
                        <div style=" text-align: center;">
                            <button (click)="nuevaColsulta()" style="margin-right: 3%;" color="warn" mat-raised-button="" type="submit" class="mat-raised-button mat-warn">
                     <span class="mat-button-wrapper">Nueva Consulta</span>
                    </button>
                            <button (click)="actualizar()" color="warn" mat-raised-button="" type="submit" class="mat-raised-button mat-warn">
                    <span class="mat-button-wrapper">Confirmar</span>
                    </button>
                        </div>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </block-ui>
</div>