@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
}


/* grid*/

.ag-theme-balham .ag-header {
    background-color: #c62828 !important;
    color: white !important;
}

.ag-theme-balham .ag-icon {
    color: white !important;
}

::ng-deep .ag-theme-balham .ag-icon {
    color: #ffc107 !important;
}

.ag-header-cell-text {
    color: white !important;
}