.margin {
  margin-right: 0.5em;
  margin-top: 0.4em;
}

.iconRed {
  box-sizing: border-box;
  color: white;
  background-color: #dc1921;
  cursor: pointer;
}

.iconYellow {
    box-sizing: border-box;
    color: white;
    background-color: rgb(255, 218, 10);
    cursor: pointer;
  }
